@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    min-height: 48px;
    box-shadow: 0px 4px 20px #00000030, 0px 4px 10px #0000003b;
    font-weight: bold;
    margin-bottom: 10%;
}
.header-container>span {
    margin: 0 1%;
}
.header-container>:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.header-container i:hover {
    cursor: pointer;
}
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
    margin-bottom: 3%;
}
.tools-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 300px;
    width: 25%;
}
.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 20%;
}
.color-palette {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    position: absolute;
    width: 115px;
    height: 115px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}
.color-palette>span {
    border: 1px solid #cccccc;
}
.color-palette>span:hover {
    cursor: pointer;
}
.color-palette>:nth-child(1) {
    background-color: #ffffff;
}
.color-palette>:nth-child(2) {
    background-color: #000000;
}
.color-palette>:nth-child(3) {
    background-color: #ff0000;
}
.color-palette>:nth-child(4) {
    background-color: #ffa500;
}
.color-palette>:nth-child(5) {
    background-color: #ffff00;
}
.color-palette>:nth-child(6) {
    background-color: #008000;
}
.color-palette>:nth-child(7) {
    background-color: #0000ff;
}
.color-palette>:nth-child(8) {
    background-color: #00008b;
}
.color-palette>:nth-child(9) {
    background-color: #ee82ee;
}
.color-picker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
    border-radius: 2px;
    padding: 10px;
}
main>:nth-child(1)>span:hover {
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}
.item {
    display: flex;
    align-items: center;
    margin: 10px;
}
.item:hover {
    cursor: pointer;
}
.item>i {
    margin-right: 15px;
}
.item>.color-preview {
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-right: 15px;
}
.color-picker-container>:nth-child(4)>.color-preview {
    background-color: red;
}
.color-picker-container>:nth-child(5)>.color-preview {
    background-color: blue;
}
.palette-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}
.palette-container>span {
    transition: border-radius 0.5s ease-out;
}
.squad {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    background-color: #cccccc;
}
.circle {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #cccccc;
}