.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    order: 1;
    width: 10%;
    min-width: 120px;
    height: 640px;
    background-color: #494949;
}

.pen-size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #8f8f8f;
    cursor: pointer;
}
.pen-size:hover {
    border-color: #fabd4cee;
}
.pen-size.x1::before {
    content: '';
    width: 20%;
    height: 20%;
    background-color: #ffffff;
    display: block;
}
.pen-size.x2::before {
    content: '';
    width: 40%;
    height: 40%;
    background-color: #ffffff;
    display: block;
}
.pen-size.x3::before {
    content: '';
    width: 60%;
    height: 60%;
    background-color: #ffffff;
    display: block;
}
.pen-size.x4::before {
    content: '';
    width: 80%;
    height: 80%;
    background-color: #ffffff;
    display: block;
}
.tools-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 20% 0;
}
.tool {
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 2px solid #8f8f8f;
    cursor: pointer;
    margin: 0 auto;
}
