header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-family: Pixel;
    font-size: 40px;
    color: #ffffff;
    background-color: #242323e8;
}
