.right-sidebar {
    display: flex;
    flex-direction: column;
    order: 4;
}
.player {
    width: 150px;
    height: 150px;
    background-image: url('../../assets/images/canvas-background.png');
    background-size: 75%;
}
