@font-face {
    font-family: Pixel;
    src: url('./assets/fonts/pixel-font.ttf');
}
@font-face {
    font-family: RobotoMono;
    src: url('./assets/fonts/roboto-mono.ttf');
}
* {
    font-family: RobotoMono;
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    /* cursor: url(assets/icons/pen.cur), pointer; */
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #181818a3;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    background-color: #fabd4cee;
    font-size: 16px;
    color: #000000;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.button:hover {
    background-color: #ffedccde;
}
